<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo al navegador</title>
</head>

<body>
    <img src="./public/images/logo">

    <h1 align="center">Mercado Liebre</h1>
    <header>
        <div><img src="/public/images/logo-mercado-liebre.svg"></div>

        <h2>Bienvenido a Mercado liebre - Tu Destino para Compras en Línea</h2>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
        <nav>
            <p>Sección: basado en tu ultima visita</p>
            <img src="/public/images/img-cafetera-moulinex.jpg" alt="$6.770
            40% OFF
            Cafetera Moulinex">




        </nav>
    </header>
    <p>
    </p>

</body>

</html>