<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo al navegador</title>
</head>
<body>
    <h1 align="center">Mercado Liebre</h1>
    <p>Bienvenido a Mercado liebre - Tu Destino para Compras en Línea
        ¡Descubre una nueva forma de comprar y vender en línea con Mercado liebre! Somos tu destino confiable para encontrar productos increíbles y vender lo que ya no necesitas. Navegar y comprar en Mercado liebre es fácil, seguro y emocionante.
        
        Por qué Elegir Mercado liebre:
        
        Amplia Variedad de Productos: Explora nuestra amplia gama de productos, desde electrónicos y moda hasta hogar y jardín. Encuentra todo lo que necesitas en un solo lugar.
        
        Compras Seguras: Compra con confianza sabiendo que cada transacción está protegida. Utilizamos las últimas tecnologías para garantizar un entorno seguro para tus compras en línea.
        
        Vende con Facilidad: ¿Tienes artículos que ya no necesitas? Véndelos en Mercado liebre en pocos pasos simples. Conecta con compradores interesados y gana dinero extra.
        
        Ofertas Exclusivas: Mantente atento a nuestras ofertas y descuentos exclusivos. Obtén productos de alta calidad a precios increíbles.
        
        Atención al Cliente Confiable: Nuestro equipo de atención al cliente está aquí para ayudarte en cada paso del camino. Si tienes alguna pregunta o inquietud, estamos disponibles para ayudarte.
        
        Experiencia de Usuario Intuitiva: Diseñamos nuestro sitio pensando en ti. Navega fácilmente, encuentra lo que buscas y realiza compras sin complicaciones.
        
        Descubre una forma nueva y emocionante de comprar y vender en línea. Únete a la comunidad de Mercado liebre hoy y experimenta la conveniencia del comercio electrónico sin complicaciones.
        
        </p>
</body>
</html>