<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo al navegador</title>
</head>

<body>
    <header>
        <div><img src="./public/images/logo-mercado-liebre.svg"></div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Servicios y productos</a></li>
                <li><a href="#">Contacto</a></li>

            </ul>
        </nav>



    </header>




    <h1 align="center">Mercado Liebre</h1>
    <p>Bienvenido a Mercado liebre - Tu Destino para Compras en Línea
        ¡Descubre una nueva forma de comprar y vender en línea con Mercado liebre! Somos tu destino confiable para
        encontrar productos increíbles y vender lo que ya no necesitas. Navegar y comprar en Mercado liebre es fácil,
        seguro y emocionante.

    </p>
    <h2>


    </h2>
</body>

</html>