<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Tu Destino para Compras en Línea</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/a7567a3fe8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/logo.svg" alt=" ">
        </div>
       
            <form action="/buscar" method="get">
                <label for="busqueda"></label>
                <div class="busqueda"> <input type="search" id="busqueda" name="q" placeholder="Escribe tu búsqueda aquí" required>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </form>
        </div>

       <div class="compra-en-cuotas"> <p> <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
            crédito</p></div>
        <nav>
            <div class="links">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="user-menu">
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                    </li>
                    <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="banner" src="/images/img-home-banner.jpg" alt="">
    </header>


    <h2>Formulario de Usuario</h2>
   <div class="form"><form action="pagina_principal.html" method="post">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
  
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" required>
  
      <label for="usuario">Nombre de usuari@:</label>
      <input type="text" id="usuario" name="usuario" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
  
      <label for="domicilio">Domicilio:</label>
      <input type="text" id="domicilio" name="domicilio" required>
  
      <fieldset>
        <legend>Perfil del Usuario:</legend>
        <div>
          <input type="radio" id="comprar" name="perfilUsuario" value="comprar" required>
          <label for="comprar">Comprar</label>
        </div>
        <div>
          <input type="radio" id="vender" name="perfilUsuario" value="vender" required>
          <label for="vender">Vender</label>
        </div>
      </fieldset>
  
      <label>Categorías de Interés:</label>
      <div>
        <input type="checkbox" id="electro" name="categoriasInteres[]" value="electro">
        <label for="electro">Electro</label>
      </div>
      <div>
        <input type="checkbox" id="moda" name="categoriasInteres[]" value="moda">
        <label for="moda">Moda</label>
      </div>
      <div>
        <input type="checkbox" id="hogar" name="categoriasInteres[]" value="hogar">
        <label for="hogar">Hogar</label>
      </div>
      <div>
        <input type="checkbox" id="jugueteria" name="categoriasInteres[]" value="jugueteria">
        <label for="jugueteria">Juguetería</label>
      </div>
      <div>
        <input type="checkbox" id="vidaSana" name="categoriasInteres[]" value="vidaSana">
        <label for="vidaSana">Vida Sana</label>
      </div>
  
      <label for="fotoUsuario">Foto de Usuario:</label>
      <input type="file" id="fotoUsuario" name="fotoUsuario" accept="image/*">
  
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required>
  
      <label for="confirmarContrasena">Confirmar Contraseña:</label>
      <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>
  
      <button type="submit">Enviar</button>
      <button type="reset">Borrar Datos</button>
    </form>
    </div>
    <footer>
        <section class="caja">
            <ul>
                <li><i class="fas fa-credit-card" style="color: #1259c3;"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y
                        siempre es seguro!</p>
                </li>
                <li><i class="fas fa-truck-moving" style="color: #1259c3;"></i>
                    <h3>Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrado/a en Mercado Liebre tenés envíos gratis en miles de productos. Es
                        un
                        beneficio de Mercado Puntos.</p>
                </li>
                <li><i class="fas fa-user-shield" style="color: #1259c3;"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegido/a.</p>
                </li>
            </ul>
            <div class="copy"><p>&copy;1999-2023 MercadoLiebre S.R.L.</p></div>
    </footer>
</body>

</html>