* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Roboto';
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


header {
    background-color: #EAC926;
    font-weight: lighter;

}


.compra-en-cuotas{
    text-align: center;
    font-size: 16px;
}
article img {
    width: 20rem;
    border-bottom: 1px solid #ebebeb;

}

.banner {
    width: 100%;
}

.logo {
    width: 50%;
}

h1,
h2,
h3 {
    margin-top: 1rem;
    font-size: 24;
margin-left: 1rem;
color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #1259c3;
    color: white;
    margin: 2% 47%;
    border-radius: 5px;

}

.caja {
    margin: 1rem;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 10px;
    justify-content: center;
    background-color: white;
    font-size: 12px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
}

main {
    width: 90%;
}


.caja-hija {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    border-top: 1px solid #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;


}

.links {
    font-size: 16px;
    text-align: left;
    list-style-type: none;
}

.caja-madre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ebebeb;
    border-bottom: 1px solid #ebebeb;

}

@media (max-width: 769px) {

    .navbar-desktop,
    .links {
        display: none;
    }
}

@media (min-width: 361px) {
    .navbar-mobile {
        display: none;
    }
}


article p strong {
    font-size: 18px;
    margin-bottom: 2rem;

}

article p span {
    font-size: 16px;
    margin-bottom: 2rem;
}
.descuento{
    color: #39b54a;
    margin-bottom: 0.5rem;
    font-size: 16px;
}
.camion{
    color: #39b54a;
}
.precio{
    font-size: 18px;
}
article p {
    font-size: 16px;
}
.copy {
    text-align: left;
}
.busqueda{
    display: flex;
    flex-wrap: wrap;
border-radius: 10px;

}