<!-- head -->
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<h1>Crear un nuevo helado</h1>

<form action="/guardar-helado" method="POST">
  <label for="name">Nombre del helado:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="precio">Precio:</label>
  <input type="text" id="precio" name="precio" required><br><br>

  <button type="submit">Guardar helado</button>
</form>
<%- include('./partials/footer') %>