<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
       @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
   </style>
   <script src="https://kit.fontawesome.com/a7567a3fe8.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<!-- header -->       
<%- include('./partials/header') %>

<h1>Detalle del helado</h1>

<h2><%= helado.name %></h2>
<p>Precio: <%= helado.precio %></p>

</body>
<%- include('./partials/footer') %></meta>