<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head') %>
<body>
<!-- header -->       
<%- include('./partials/header') %>

    <img class="banner" src="/images/portada.jpg" alt="">
    <h2>Sabores</h2>
    <div class="caja-madre">

        <div class="caja-hija">
            <article>
                <img src="images/chocolate.jpg" alt="">
               
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <div class="descuento">  <span>5% OFF</span></p></div>
                    <p>Chocolate</p>
        </div>
        </article>

        <div class="caja-hija">
            <article>
                <img src="images/crema-cookie.jpg" alt="">
                <div class="precio">  <p><strong>$2.000</strong> </div>
                    <div class="descuento">  <span>20% OFF</span></p></div>
                <p>Crema Cookie</p>
            </article>
        </div>
        <div class="caja-hija">
            <article>
                <img src="images/dulcedeleche-granizado.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <div class="descuento">  <span>10% OFF</span></p></div>
                <p>Dulce de leche granizado</p>
            </article>
        </div>

        <div class="caja-hija">
            <article>
                <img src="images/tiramisu.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <div class="descuento"> <span>5% OFF</span></p></div>
                <p>Tiramisu</p>
            </article>
        </div>
        <div class="caja-hija">
            <article>
                <img src="images/marroc.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <div class="descuento"> <span>5% OFF</span></p></div>
                <p>Marroc</p>
            </article>
        </div>
        <div class="caja-hija">
            <article>
                <img src="images/cucurucho.jpg" alt="">
                <div class="precio"> <p><strong>$2.500</strong> </div>
                    <div class="descuento"> <span>5% OFF</span></p></div>
                <p>Cucuruchos</p>
            </article>
        </div>
    </div>
<!-- footer -->
      <%- include('./partials/footer') %>
    </section>
</body>

</html>