<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head') %>
<body>
<!-- header -->       
<%- include('./partials/header') %>
   
    <div class="login">
        <form action="./views/home.html" method="post">
            <label for="username">Nombre de usuari@:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Enviar">
        </form>
    </div>
    <%- include('./partials/footer') %>
        <div class="copy">
            <p>&copy;1999-2023 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>