<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/a7567a3fe8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<!-- header -->       
<%- include('./partials/header') %>


  <h2>Creá tu helado favorito!</h2>
  <div class="form">
    <form id="productForm">
      <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
          <label for="sabor">Sabor:</label>
          <input type="text" id="sabor" name="sabor" required>
      </div>
      <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" step="0.01" min="0" required>
      </div>
      <div class="form-group">
          <label for="stock">Stock:</label>
          <input type="number" id="stock" name="stock" min="0" required>
      </div>
      <button type="submit">Guardar Producto</button>
  </form>
  </div>
  <footer>
    <section class="caja">
      <ul>
        <li><i class="fas fa-credit-card" style="color: #1259c3;"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
            ¡Y
            siempre es seguro!</p>
        </li>
        <li><i class="fas fa-truck-moving" style="color: #1259c3;"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>Solo por estar registrado/a en Mercado Liebre tenés envíos gratis en miles de productos. Es
            un
            beneficio de Mercado Puntos.</p>
        </li>
        <li><i class="fas fa-user-shield" style="color: #1259c3;"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
            siempre
            protegido/a.</p>
        </li>
      </ul>
    </section>
    <div class="copy">
      <p>&copy;1999-2023 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>

</html>